# Python Dictionaries

In [ ]:
# dictionaries have a key(s) and a value(s).

In [2]:
mydict1={"name":"Carole"}

In [4]:
mydict2={"Age":23}

In [6]:
mydict3={"names":["Karkar","Dennis","Faith","Joy"]}

In [8]:
mydict4={"names":["Karkar","Dennis","Faith","Joy"],"Ages":[21,34,45,56]}

In [19]:
mydict5={"Surname":["Mugure","Mwangi","Muthungu","Gile","Ereggae","Olang","Gacheri"],"Proffession":["Doctor","Actor","Hacker","Engineer","Teacher","Pilot","Dentist"],"Salary":[10000,20000,30000,40000,50000,60000,70000],"Reason for joining Sonek":["Further education","Skills update","Career Advancement","Explore new field","Skills update","Career Advancement","Further education"]}

In [21]:
mydict5

{'Surname': ['Mugure',
  'Mwangi',
  'Muthungu',
  'Gile',
  'Ereggae',
  'Olang',
  'Gacheri'],
 'Proffession': ['Doctor',
  'Actor',
  'Hacker',
  'Engineer',
  'Teacher',
  'Pilot',
  'Dentist'],
 'Salary': [10000, 20000, 30000, 40000, 50000, 60000, 70000],
 'Reason for joining Sonek': ['Further education',
  'Skills update',
  'Career Advancement',
  'Explore new field',
  'Skills update',
  'Career Advancement',
  'Further education']}

In [23]:
mydict6={"names":["Emmanuel","Dennis","Carol","Karkar","Dennis","Faith","Joy"],"Profession":["Analyst","Lawyer","Enineer","Doctor","Teacher","Manager","Writer"],"Salaries":[50000,10000,20000,40000,50000,60000,9000],"Reasons":["Career growth","Promtion","Construction","Development","Teaching","Business","Writting"]}

In [25]:
mydict6

{'names': ['Emmanuel', 'Dennis', 'Carol', 'Karkar', 'Dennis', 'Faith', 'Joy'],
 'Profession': ['Analyst',
  'Lawyer',
  'Enineer',
  'Doctor',
  'Teacher',
  'Manager',
  'Writer'],
 'Salaries': [50000, 10000, 20000, 40000, 50000, 60000, 9000],
 'Reasons': ['Career growth',
  'Promtion',
  'Construction',
  'Development',
  'Teaching',
  'Business',
  'Writting']}

In [27]:
mydict7={"surname":["Ann","Tilda","Grace","joy","Dennis","Mary","Solo"],
         "Profession":["Actor","Doctor","Engineer","Teacher","Analyst","Hacker","Businessman"],
         "Salary":[20,000,40,000,50,000,60,000,70,000,80,000,90,000],
         "Reason":["career","skillsupdate","further studies","marketable course","referral","Advancement","Explore new field"]}

In [29]:
mydict7

{'surname': ['Ann', 'Tilda', 'Grace', 'joy', 'Dennis', 'Mary', 'Solo'],
 'Profession': ['Actor',
  'Doctor',
  'Engineer',
  'Teacher',
  'Analyst',
  'Hacker',
  'Businessman'],
 'Salary': [20, 0, 40, 0, 50, 0, 60, 0, 70, 0, 80, 0, 90, 0],
 'Reason': ['career',
  'skillsupdate',
  'further studies',
  'marketable course',
  'referral',
  'Advancement',
  'Explore new field']}

In [31]:
# mydict7.keys() for accessing the keys of a dictionary 
mydict7.keys()

dict_keys(['surname', 'Profession', 'Salary', 'Reason'])

In [33]:
# mydict7.values() for accessing the values of a dictionary 
mydict7.values()

dict_values([['Ann', 'Tilda', 'Grace', 'joy', 'Dennis', 'Mary', 'Solo'], ['Actor', 'Doctor', 'Engineer', 'Teacher', 'Analyst', 'Hacker', 'Businessman'], [20, 0, 40, 0, 50, 0, 60, 0, 70, 0, 80, 0, 90, 0], ['career', 'skillsupdate', 'further studies', 'marketable course', 'referral', 'Advancement', 'Explore new field']])

In [35]:
# mydict7.items() for accessing the items(values plus keys) of a dictionary 
mydict7.items()

dict_items([('surname', ['Ann', 'Tilda', 'Grace', 'joy', 'Dennis', 'Mary', 'Solo']), ('Profession', ['Actor', 'Doctor', 'Engineer', 'Teacher', 'Analyst', 'Hacker', 'Businessman']), ('Salary', [20, 0, 40, 0, 50, 0, 60, 0, 70, 0, 80, 0, 90, 0]), ('Reason', ['career', 'skillsupdate', 'further studies', 'marketable course', 'referral', 'Advancement', 'Explore new field'])])

In [37]:
mydict7.keys()

dict_keys(['surname', 'Profession', 'Salary', 'Reason'])

In [39]:
mydict7.get(surname)

NameError: name 'surname' is not defined

In [41]:
mydict7.get("surname") # will get the specific values of the mentioned key.

['Ann', 'Tilda', 'Grace', 'joy', 'Dennis', 'Mary', 'Solo']

In [46]:
mydict7.get("Profession")

['Actor', 'Doctor', 'Engineer', 'Teacher', 'Analyst', 'Hacker', 'Businessman']

In [48]:
mydict7.get("Salary")

[20, 0, 40, 0, 50, 0, 60, 0, 70, 0, 80, 0, 90, 0]

In [50]:
mydict7.get("Reason")

['career',
 'skillsupdate',
 'further studies',
 'marketable course',
 'referral',
 'Advancement',
 'Explore new field']

In [54]:
# To know the number of items in  your dictionary
len(mydict7)

4

In [ ]:
# mydict7.update() for adding another pair of key(s) and value(s).
mydict7.update({"Ages":[]})