# FOR Loop

## Looping through a Tuple

In [1]:
mytupple=( "Joy","Python","Sonek")

In [2]:
mytupple

('Joy', 'Python', 'Sonek')

In [3]:
for i in mytupple:
    print(i)

Joy
Python
Sonek

## Looping through dictionaries

In [4]:
mydict={"name" :"Joy","age":20,"profession":"student"}

In [5]:
mydict

{'name': 'Joy', 'age': 20, 'profession': 'student'}

In [6]:
print("== Keys Only ==")
for x in mydict:
    print(x)
print("== Values Only ==")
for x in mydict.values():
    print(x)
print("== Keys and Values  ==")
for x in mydict.items():
    print(x)
print("== The end ==")

== Keys Only ==
name
age
profession
== Values Only ==
Joy
20
student
== Keys and Values  ==
('name', 'Joy')
('age', 20)
('profession', 'student')
== The end ==

In [7]:
# Number of levels in the Christmas tree
levels = 5

# Loop through each level
for i in range(levels):
    # Print spaces for alignment
    for j in range(levels - i - 1):
        print(" ", end="")
    # Print stars for the tree
    for k in range(2 * i + 1):
        print("*", end="")
    # Move to the next line
    print()

# Print the trunk of the tree
for i in range(2):
    for j in range(levels - 1):
        print(" ", end="")
    print("*")

    *
   ***
  *****
 *******
*********
    *
    *

In [9]:
n = 10
for i in range(0, n):
    for j in range(1, n - i):
        print(" ", end="")
    print("*", end="")
    for k in range(0, i):
        print("|", end="")
    for j in range(1, i):
        print("|", end="")
    if i > 0:
        print("*", end="")
    print()

         *
        *|*
       *|||*
      *|||||*
     *|||||||*
    *|||||||||*
   *|||||||||||*
  *|||||||||||||*
 *|||||||||||||||*
*|||||||||||||||||*

In [14]:
def draw_dumbbell():
    # Define the number of segments in the dumbbell
    segments = 5
    
    # Create the dumbbell shape using loops
    for i in range(segments):
        # Draw the left weight
        print("O", end="")
        
        # Draw the bar
        print("-" * 5, end="")
        
        # Draw the right weight
        print("O")
    
        # Draw the handles
        print(" " * 3 + "|")
    
draw_dumbbell()

O-----O
   |
O-----O
   |
O-----O
   |
O-----O
   |
O-----O
   |

In [12]:
#Karkar Nooi
#8:50â€¯PM
# Car Art using for loop
car_art = [
    "      ______",
    "     /|_||_\\`.__",
    "    (   _    _ _\\",
    "    =`-(_)--(_)-' "
]

# Display car art using for loop
for line in car_art:
    print(line)

      ______
     /|_||_\`.__
    (   _    _ _\
    =`-(_)--(_)-'

## For loop With an Else

In [15]:
studentlist=[ "Karkar","Dennis","Stephen","Faith","Joy"]

In [16]:
studentlist

['Karkar', 'Dennis', 'Stephen', 'Faith', 'Joy']

In [17]:
for name in studentlist:
    print(name)
else:
    print("no name left")

Karkar
Dennis
Stephen
Faith
Joy
no name left

# While Loop

In [18]:
# A program that prints zero to ten 
n=10
i=0
while i<=10:
    print(i)
    i+=1     #i=i+1

0
1
2
3
4
5
6
7
8
9
10

# Python Functions

In [19]:
def kuongeza(num1,num2):
    return num1 + num2

In [20]:
kuongeza(5,7)

12

In [21]:
kuongeza(675,895)

1570

In [22]:
def kutoa(num1,num2):
    return num1-num2

In [23]:
kutoa(5,1)

4

In [27]:
def kuongezatano(num1,num2,num3,num4,num5):
    return num1 + num2 +num3+ num4+num5

In [28]:
kuongezatano(5,7,6,3,5)

26

In [29]:
def kuongezamingi(*numbers):
    addition=0
    for number in numbers:
        addition=addition + number
    return addition

In [30]:
kuongezamingi(50,70.68,2,45,67,300,46,79,90,48,93,25,58,45,38,29,76,87,24)

1272.68

In [ ]:
# Testing whether a number is prime or not.

starting_num=int(input("Enter a starting number:"))
stopping_num=int(input("Enter a stopping number:"))

for number in range(starting_num,stopping_num+1):
    if number>1:
        for i in range(2,number):
            if(number%i)==0:
                break
        else:
                print(number,":is prime")